/* Form-item
-------------------------- */

// base
$--form-item-base-margin-bottom: 30px;
$--form-item-base-line-height: $--height-base;


// medium
$--form-item-medium-margin-bottom: 24px;
$--form-item-medium-line-height: $--height-medium;

// small
$--form-item-small-margin-bottom: 18px;
$--form-item-small-line-height: $--height-small;

// mini
$--form-item-mini-margin-bottom: 14px;
$--form-item-mini-line-height: $--height-mini;
